[Desktop Entry]
Name=Windows
Comment=Start Windows VM via Docker and connect with RDP
Exec=uwsm app -- {{HOME}}/.local/bin/windows-vm-launch
Icon=windows
Terminal=false
Type=Application
Categories=System;Virtualization;
